#mapa{
    display: grid; 
    gap: 0; /* espacio entre casillas */
}

.tile { 
    width: 20px; /* ancho de cada casilla */
    height: 20px; /* alto de cada casilla */
}

.wall{ /*pared*/
    background-color: blue;
}

.path{ /*camino*/
    background-color: black;
}

body {
    background-color: lightgrey; 
}

h1 {
    color: blue;
}


